<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />

    <title></title>
  </head>

  <body><p>A l'affichage du listing de commande :</p><table border="1">
      <thead>
        <tr>
          <th><span
          title="permet de référencer la commande dans les échange mail avec les membres">Référence
          commande</span></th>

          <th><span
          title="permet de retrouver le membre en bdd pour le moment, sera remplacé par son prénom/nom à terme">Référence
          membre</span></th>

          <th>Total des quantités</th>

          <th>Détail</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>

          <td>2</td>

          <td>8</td>

          <td><a href="???">Afficher le détail</a></td>
        </tr>

        <tr>
          <td>2</td>

          <td>3</td>

          <td>5</td>

          <td><a href="???">Afficher le détail</a></td>
        </tr>
      </tbody>
    </table><p>Après clic sur "Afficher le détail" :</p><table border="1">
      <thead>
        <tr>
          <th><span
          title="permet de référencer la commande dans les échange mail avec les membres">Référence
          commande</span></th>

          <th><span
          title="permet de retrouver le membre en bdd pour le moment, sera remplacé par son prénom/nom à terme">Référence
          membre</span></th>

          <th>Total des quantités</th>

          <th>Détail</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>

          <td>2</td>

          <td>8</td>

          <td><a href="???">Masquer le détail</a></td>
        </tr>

        <tr>
          <td colspan="4"><table width="1OO%">
              <tr>
                <td><span title="c'est le produit_id">Référence
                produit</span></td>

                <td><span
                title="c'est la qté mise par le membre dans le listing produit, si &gt; 0">Quantité
                commandée</span></td>
              </tr>

              <tr>
                <td>1</td>

                <td>3</td>
              </tr>

              <tr>
                <td>2</td>

                <td>5</td>
              </tr>
            </table></td>
        </tr>

        <tr>
          <td>2</td>

          <td>3</td>

          <td>5</td>

          <td><a href="???">Afficher le détail</a></td>
        </tr>
      </tbody>
    </table><p>Après clic sur "Masquer le détail" :</p><table border="1">
      <thead>
        <tr>
          <th><span
          title="permet de référencer la commande dans les échange mail avec les membres">Référence
          commande</span></th>

          <th><span
          title="permet de retrouver le membre en bdd pour le moment, sera remplacé par son prénom/nom à terme">Référence
          membre</span></th>

          <th>Total des quantités</th>

          <th>Détail</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>

          <td>2</td>

          <td>8</td>

          <td><a href="???">Afficher le détail</a></td>
        </tr>

        <tr>
          <td>2</td>

          <td>3</td>

          <td>5</td>

          <td><a href="???">Afficher le détail</a></td>
        </tr>
      </tbody>
    </table></body>
</html>
